.wrapper {
	border: 2px solid rgb(153, 0, 0);
	color: rgb(153, 0, 0);
	width: calc(60px * 4);
	height: 80px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 5px;
	box-sizing: border-box;
}

.current {
	font-size: 30px;
}

.previous {
	color: rgb(80, 0, 0);
}
