.btn {
	/* base button class */
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

.btnNumber {
	color: rgb(153, 0, 0);
	background: none;
	border: 2px solid rgb(153, 0, 0);
}
